# OpenFOAM time directories (keep 0.org and latest)
openfoam-forwardStep/simulation/[0-9]*/
openfoam-forwardStep/simulation/[0-9]*.[0-9]*/
!openfoam-forwardStep/simulation/0.org/
!openfoam-forwardStep/simulation/4/

openfoam-shockTube/simulation/[0-9]*/
openfoam-shockTube/simulation/[0-9]*.[0-9]*/
!openfoam-shockTube/simulation/0.org/
!openfoam-shockTube/simulation/0.007/

# Processor directories
openfoam-forwardStep/simulation/processor*/
openfoam-shockTube/simulation/processor*/

# Large log files
openfoam-forwardStep/simulation/log.*
openfoam-shockTube/simulation/log.*
forwardStep_run.log
shockTube_run.log

# foamLog database
openfoam-forwardStep/simulation/foamLog.db.res
openfoam-shockTube/simulation/foamLog.db.res

# Python venv
.venv/

# Build artifacts
hisa/
